<html>
<head>
    <title>{{ .Message}}</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>  
</head>
<body>
    
    <div id="container">
        <div id="header">
            <div id="logo">
            </div>
            <div id ="title">
                <h1>Groupie Tracker</h1>
            </div>
        </div>

        <div id="navBar">
            <table>
                <tr>
                <td><a href="home.html">Home</a></td>
                <td><a href="index.html">Artists</a></td>
                <td><a href="aboutus.html">About Us</a></td>
                </tr>
            </table>
        </div>

        <div id="ErrorMsG">
            <h1>{{ .Message}}</h1>
        </div>

        <div id="returnBack" class="testing">
            <a href="index.html"> ← Back To Artists</a>
        </div>  
        
        <div id="footer">Created By:&nbsp;Ruqaya Helal,  &nbsp;&nbsp;Maryam Abbas</div>

    </div>
</body>
<html>