<html>
<head>
    <title>groupie-tracker</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>  
</head>
<body>
    
    <div id="container">
        <div id="header">

            <div id="logo">
            </div>

            <div id ="title">
                <h1>Groupie Tracker</h1>
            </div>

        </div>

        <div id="navBar">
            <table>
                <tr>
                <td><a href="home.html">Home</a></td>
                <td><a href="index.html">Artists</a></td>
                <td><a href="aboutus.html">About Us</a></td>
                </tr>
            </table>
        </div>
        
        <div id="content">
                <p> On our website, you'll find comprehensive details about various bands and artists. We provide information such as their names, images, the year they started their musical journey, 
                    the release date of their debut album, and the members associated with the group. Additionally, we keep you updated on the locations of their most recent and upcoming concerts, 
                    as well as the corresponding dates for these performances. Stay informed about your favorite musicians and their exciting live shows on our website.
                 </p>
                 <div id="returnBack">
                    <a href="index.html"> Go To Artists →</a>
                </div>         
        </div>


        <div id="footer">Created By:&nbsp;Ruqaya Helal,  &nbsp;&nbsp;Maryam Abbas</div>
    </div>
</body>
<html>